// .bg-custom-1 {
//     background-color: #85144b;
//   }
  
//   .bg-custom-2 {
//   background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
//   }
//   .bg-dark {
//     background-color: #242a36!important;
// }
// .navbar{
//     padding: 0rem 1rem;
// }
// .navbar-dark .navbar-nav .active > .nav-link {
//     color: white;
//     font-size:20px !important;
//     font-weight:bold;
//   }
  .navbar-dark .navbar-nav .active > .nav-link:after {
    content: "";
    float: left;
    background: white;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    margin-top:10px;
  }
//   .nav-link:hover:after {
//     content: "";
//     float: left;
//     background: white;
//     width: 100%;
//     height: 5px;
//     border-radius: 3px;
//     margin-top: 5px;
//   }

//   .nav-link:hover {
//     transition: all 0.4s;
//     color:white !important;
//     font-size:20px !important;
//     }

//   .navbar-dark .navbar-nav .nav-link {
//   color: white;
//   font-weight:normal;
//   font-size:20px !important;

//   }
//   .navbar-light .navbar-brand {
//   color: rgba(0, 0, 0, 0.9);
//   height:100px;
//   width:100px;
//   margin: 30px auto 0px;
//   }
//   .navbar-brand img{
//     // margin: 25px 25px;
//   }
//   .nav-link-collapse:after {
//   display:none;
//   }
  
//   ul li{
//     margin:2px 0px ;
//   }
//   .nav-link {
//     display: block;
//     padding: 0.6rem 1rem;
// }
//   .bg-light {
//     background-color: white!important;
//     height: 70px;
//     box-shadow: 1px 1px 11px 1px #0000003b;
// }







// .nav-link {
//     display: block;
//     padding: 0rem 2rem;
// }
// .navbar-nav.last {
//     border-right:none !important;
//     border:none !important;
//     color:yellow !important;
//  }

// #nav {
//     display:inline-block;
// }

// #nav li {
//    display:inline-block;
//    padding-left:20px;
//    padding-right:20px;
//    border-right : 2px solid #ccc !important;
//    list-style:none;
// }

// #nav .first {
//    border:none;
// }

// .nav-item ul { display:none;}


.bg-dark {
  background-color: #242a36!important;
}


.nav-item .navlink #signin{
  color:yellow !important;
  border-right:none !important;
}
