<div class="container">
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="#">
      <img src="assets/imgs/sgxlogo.png" class="img-fluid logo" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
      <ul id="nav" class="navbar-nav ml-auto">
        <li id="test" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
          <a [routerLink]="['/nifty']" class="nav-link" href="#">SGX Nifty <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="currentPath == '/alert' ? 'active' : '' ">
          <a (click)="alertPage($event)" class="nav-link" href="#">Alerts</a>
        </li>
        <li class="nav-item" >
          <a  class="nav-link" >Contact us</a>
        </li>
        <li *ngIf="!userName.length" class="nav-item first" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/login']" style="color:#f4d629 !important;border-right:none !important;" class="nav-link"
            href="#">Sign in</a>
        </li>
        <li *ngIf="userName.length" class="nav-item first" >
          <a  (click)="signOut()" class="nav-link">Sign Out</a>
        </li>
        <li *ngIf="userName.length" class="nav-item first" >
          <a style="color:#f4d629 !important;border-right:none !important;" class="nav-link">{{userName}}</a>
        </li>
      
      </ul>
    </div>
  </nav>
</div>

<!-- 
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="assets/sgxlogo.png" class="img-fluid" alt="logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
   
   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" routerLink="/login" style="cursor: pointer;">Login</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" routerLink="/signup" style="cursor: pointer;">Sign Up</a>
    </li>
    </ul>
    
    </div>
    </nav> -->