<div class="maincontent">
  <div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">

          <div class="login-container">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Sign In</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="loginForm">

                  <mat-form-field appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email" appAutofocus>
                    <mat-error *ngIf="loginForm.get('email').getError('required')">Email is required</mat-error>
                    <mat-error *ngIf="loginForm.get('email').getError('email')">Enter a valid email</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput placeholder="Enter Password" type="password" formControlName="password">
                    <mat-error *ngIf="loginForm.get('password').getError('required')">Password is required</mat-error>
                  </mat-form-field>
                  <button  class="btn-block" [disabled]="loginForm.invalid" (click)="loggedIn()" mat-raised-button color="primary" type="submit">Log
                    In</button>
                </form>
                <div class="row mt-5">
                  <div class="col-md-12 text-center">
                    <p><a [routerLink]="['/register']"> Register Account Here</a></p>
                  </div>
                </div>

              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>