:host {
    // height: 100vh;
    display: grid;
    grid-template-areas:
      "loginCard"
      "footer";
    grid-template-rows: 1fr auto;
  }
  
  img {
    width: 250px;
    padding: 2em;
  }
  
  // .login-container {
  //   grid-area: loginCard;
  //   justify-self: center;
  //   text-align: center;
  //   padding: 1.5em; 
  // }
  
  mat-card {
    // width: 400px;
    // height: 320px;
  }
  
  mat-card form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    // padding: 1em;
  }
  
  .form-actions {
    margin-top: 3em;
  }
  
  app-footer {
    grid-area: footer;
    font-size: 0.8rem;
  }
  
  @media(max-width: 768px) {
    mat-card {
      width: 330px;
    }
  }
  mat-input:focus{
color:green;
  }

  .mat-card {
    background: white !important;
    box-shadow:none !important;
    color: #fff;
}

a {
  color: #242a36;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #242a36;
  text-decoration: none;
  background-color: transparent;
  border-bottom:1px solid #242a36;
  font-weight:800;
}
h6{
  color: #242a36 !important;
}

.flaticon-google{
  background-image: url("/assets/imgs/google.png");
  background-repeat: no-repeat;
  // padding-right: calc(1.5em + .75rem);
  // background-position: center right calc(.375em + .1875rem);
  // background-size: calc(.75em + .375rem) calc(.75em + .375rem);
} 

.google-icon{
  width: 20px;
  margin: 0px 10px;
}

#google {
  width: 20px;
  height: 20px;
  padding:0px;
}

.facebook{
  background-color: #01579b;
  border-radius: 0px !important;
  padding: 0.3em 0em;
  font-size: 16px;
  margin:15px 0px;
}

.mat-stroked-button:not([disabled]) {
  border-color: black !important;
  border-radius: 0px !important;
  padding: 0.3em 0em;
  font-size: 16px;
}

.matInput{
  border-radius:none;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding:0.7em 0em !important;
}
