<div class="maincontent">
  <div class="main-container">
    <div role="main" class="container">
      <div class="login-container">
        <div class="row mt-3">
          <div class="col-md-12">
            <mat-label class=""><b>Set Alert</b></mat-label>
          </div>
        </div>

        <div class="row mt-3">
          <form [formGroup]="form">
            <div class="col-md-12 col-xs-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Set Condition</mat-label>
                <mat-select formControlName="condition" (selectionChange)="conditionChange($event)">
                  <mat-option *ngFor="let opt of conditionArr" [value]="opt.id">{{opt.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('condition').hasError('required')">
                  Condition is required
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>
                <input type="number" matInput placeholder="10,500"  formControlName="price">
                <mat-error *ngIf="form.get('price').getError('required')">Price is required</mat-error>
                <mat-error *ngIf="form.get('price').getError('max')">Value should be less than 10</mat-error>
                <mat-error *ngIf="form.get('price').getError('min')">Value should be greater than 0</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 col-xs-12">
              <!-- <mat-label>Frequency</mat-label> -->
              <label for="inputPassword4">Frequency</label>

            </div>
            <div class="col-md-12 col-xs-6">
              <mat-radio-group aria-label="Select an option" formControlName="frequency">
                <mat-radio-button value="1"> Once </mat-radio-button>
                <mat-radio-button value="2"> Recurring</mat-radio-button>
              </mat-radio-group>
            </div>
          </form>

        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="float-right">
              <button [disabled]="form.invalid" (click)="create()" type="submit" class="btn-primary"> Create</button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <!--             
                <div class="container"> -->
            <h5>Your Alerts</h5>
            <table class="table table-striped">
              <tbody>
                <tr *ngFor="let obj of aletTable">
                  <td>{{obj.sno}}</td>
                  <td>{{obj.data}}</td>
                  <td><i (click)="delete(obj.id)" class="flaticon-bin"></i></td>
                </tr>
              </tbody>
            </table>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Set Alert</mat-card-title>
        </mat-card-header>
        <mat-card-content> -->
<!-- <form > -->


<!-- <mat-form-field appearance="outline">
              <mat-label>Enter Email</mat-label>
              <input matInput placeholder="Enter Email" formControlName="email" appAutofocus>
              <mat-error *ngIf="loginForm.get('email').getError('required')">Email is required</mat-error>
              <mat-error *ngIf="loginForm.get('email').getError('email')">Enter a valid email</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input matInput placeholder="Enter Password" type="password" formControlName="password">
              <mat-error *ngIf="loginForm.get('password').getError('required')">Password is required</mat-error>
            </mat-form-field>
            <button *ngIf="!spinner" class="btn-block" mat-raised-button color="primary" type="submit">Log In</button> -->

<!-- <section class="form-actions">
              <button *ngIf="!spinner" mat-raised-button color="primary" type="submit">Log In</button>
              <mat-spinner *ngIf="spinner" [color]="'primary'" [diameter]="'30'" [mode]="'indeterminate'" [value]="'20'">
              </mat-spinner>
            </section> -->
<!-- </form> -->
<!-- <div class="row mt-5">
            <div class="col-md-12">
                <p><a href=""> Forgot Password? </a></p>
            </div>
          </div> -->

<!-- </mat-card-content>
      </mat-card> -->

<!-- </div> -->