:host {
    // height: 100vh;
    display: grid;
    grid-template-areas:
      "loginCard"
      "footer";
    grid-template-rows: 1fr auto;
  }
  
  img {
    width: 250px;
    padding: 2em;
  }
  
  .login-container {
    grid-area: loginCard;
    justify-self: center;
    // text-align: center;
    padding: 1.5em; 
    // width:600px;
  }
  
  mat-card {
    width: 380px;
    height: 320px;
  }
  
  mat-card form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    // padding: 1em;
  }
  
  .form-actions {
    margin-top: 3em;
  }
  
  app-footer {
    grid-area: footer;
    font-size: 0.8rem;
  }
  
  @media(max-width: 768px) {
    mat-card {
      width: 330px;
    }
  }
  mat-input:focus{
color:green;
  }

  .mat-card {
    background: white !important;
    box-shadow:none !important;
    color: #242a36;
}

a {
  color: #242a36;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #242a36;
  text-decoration: none;
  background-color: transparent;
  border-bottom:1px solid #242a36;
  font-weight:800;
}
h5{
  color: #242a36 !important;
}

.flaticon-google{
  background-image: url("/assets/imgs/google.png");
  background-repeat: no-repeat;
  // padding-right: calc(1.5em + .75rem);
  // background-position: center right calc(.375em + .1875rem);
  // background-size: calc(.75em + .375rem) calc(.75em + .375rem);
} 

.mat-radio-label-content {
color:black;

}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #cccccc;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #e2e2e2;
}

.flaticon-bin{
  cursor: pointer;
}