.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    background: white;
    z-index: 99999;
    display: none;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

