

@media only screen and (mix-width: 320px)  and (max-device-width : 480px){

    .logo {
        width: 200px !important;
    }
        

    .form{
        width:300px !important;
        margin-top: 10px!important;
    }
    h5 {
        font-size: 0.9rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
    h2{
        font-size: 1.4rem !important;
    }
    p{
        font-size: 0.8rem !important;
    }
    .btn-primary{
        font-size: 10px;
        padding: 6px 20px;
    }
    .signal-container{
        padding:0px;
    }
    .table td, .table th {
        padding: .30rem !important;
        font-size:0.8rem !important;
    }
    .nav-link {
     display: block;
     border-right: none !important;
    }
    .navbar-dark .navbar-nav .active > .nav-link:after {
        height: 3px !important;
        margin-top:5px !important;
      }
      .maincontent{
        padding-top:80px;
        background-color:	#E8E8E8 !important;

      }
      .main-container{
        overflow-x:hidden;
      }
    
      mat-card {
        margin: 0px auto;
         }
      
    .login-container{
        padding:0px !important;
        width: 600px;
        height: 100vh;
    }
 
    .body {background: red;}

  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .logo {
        width: 200px !important;
    }
        

    .form{
        width:300px !important;
        margin-top: 10px!important;
    }
    h5 {
        font-size: 0.9rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
    h2{
        font-size: 1.4rem !important;
    }
    p{
        font-size: 0.8rem !important;
    }
    .btn-primary{
        font-size: 10px;
        padding: 6px 20px;
    }
    .signal-container{
        padding:0px;
    }
    .table td, .table th {
        padding: .30rem !important;
        font-size:0.8rem !important;
    }
    .nav-link {
     display: block;
     border-right: none !important;
    }
    .navbar-dark .navbar-nav .active > .nav-link:after {
        height: 3px !important;
        margin-top:5px !important;
      }
      .maincontent{
        padding-top:80px;
      }
      .main-container{

        overflow-x:hidden;
      }
    
      mat-card {
        // width: 360px !important;
        width: auto !important;
    }
    .login-container{
        padding:0px !important;
    }

    .body {background: red;}

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .body {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .logo {
        width: 200px !important;
    }
    .nav-link{
        padding:0rem 0.5rem !important;
        border-right: 2px solid white;

    }
    .maincontent{
        padding-top:100px;
        background-color:	#E8E8E8 !important;

      }
      .main-container{

        overflow-x:hidden;
      }
      mat-card {
        margin: 0px auto;
         }
      
    .body {background: blue;}
  
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .logo {
        width: 250px !important;
    }
    .nav-link{
        padding:0rem 1rem !important;
        border-right: 2px solid white;

    }
    .maincontent{
        padding-top:100px;
        background-color:	#E8E8E8 !important;

      }
      .main-container{

        overflow-x:hidden;
      }
    //   mat-card {
    //     width: 400px !important;
    // }
    .body {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .body {background: pink;}

    .form{
        width:500px;
        // margin:30px auto;
        margin-top: 30px!important;
        margin: 0px auto;
    }
    .container{
      max-width: 800px !important;
      border: 1px solid #242a36 !important;
      background-color:	white !important;


  }

.signal-container{
    padding:0px 50px;
}
.navbar-dark .navbar-nav .active > .nav-link:after {
    height: 5px;
    margin-top:10px;
  }
  .maincontent{
    padding-top:75px;
    background-color:	#E8E8E8 !important;

  }
  .navbar-dark .navbar-nav .active>.nav-link {
    color: #fff;
    /* border-bottom: 1px solid white; */
    font-size: 22px;
    font-weight: 600;
  }
  .nav-link {
    display: block;
    border-right: 2px solid white;
    padding: 0rem 2rem !important; 
    color: #fff !important; 
    font-size: 20px;
  }
  
  .logo{
    width:300px;
  }
  .body-content{
    margin:0px 20px;
  }
  .login-container{
    grid-area: loginCard;
    justify-self: center;
    padding: 1.5em; 
    height:100vh;
    width: 500px;
    margin:0px auto;
  }
    mat-card {
    margin: 0px auto;
     }
  
  }