/* You can add global styles to this file, and also import other style files */
// @import ‘@angular/material/prebuilt-themes/purple-green.css’;
@import "~@angular/material/prebuilt-themes/purple-green.css";

@import 'assets/scss/modules/_fonts.scss';
@import 'assets/scss/modules/_flaticon.scss';
@import 'assets/scss/modules/flaticon.css';
@import '~ngx-toastr/toastr';


// primary font
$primary_font: 'Roboto';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}

html, body, app-root {
  height: 100%;
  margin: 0;
  }

  textarea:focus,
input[type="text"]:focus,
input[type="file"]:focus,
// input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.select-focus select:focus,
.custom-file input[type="file"]:focus,
.custom-select:focus 
{   
border-color: darkgray !important;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px darkgray !important; 
outline: 0 none !important;
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(to top, #242a36 , #343a40 ) !important;
    box-shadow: none !important;
    border: none !important;
    font-weight:normal !important;
    border-radius: 10px;
    font-size: 16px;
    padding:6px 25px;
  }
  .btn-primary:disabled {
       color: white!important;
       background-color: #bfbdbd !important;
       box-shadow: 0 0 1px #bfbdbd !important;
       border: 2px solid #bfbdbd !important;
       font-weight:normal !important;
    
  }
  
  .btn-primary:hover {
    color:#fff !important;
    background-image: linear-gradient(to top, #343a40, #242a36) !important;
    // background-color: #359870 !important;
    box-shadow: none !important;
    border: none !important;
    font-weight:normal !important;
    
  }
  
  .btn-primary:focus {
    color:white !important;
    background-image: linear-gradient(to top, #242a36 , #343a40 ) !important;
    box-shadow: none !important;
    border: none !important;
    font-weight:normal !important;
  }
  
  .btn-primary:active {
    color:white  !important;
    background-image: linear-gradient(to top, #242a36 , #343a40 ) !important;
    box-shadow: none !important;
    border: none !important;
    font-weight:normal !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background: #242a36 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #242a36 !important;
}
.mat-tab-header{
  border-bottom:none !important;
}
.mat-ink-bar {
  height: 3px !important;
}
.mat-tab-label {
  height: 48px;
  padding: 0 10px !important;
  min-width: 80px !important;
  text-align: center;
}
.custom-select {
  border-radius: 0px !important;
}
input{
  border-radius: 0px !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-body-content{
  overflow:  hidden !important;
}

.flex{
  display:flex !important;
}