
// .mat-input-element {
//   border-color: transparent !important;
//   box-shadow: none !important;
//   outline: 0 none !important;
// }

// .mat-cell, .mat-footer-cell {
//     font-size: 16px;
// }
// .mat-header-cell {
//     font-size: 16px;
//     font-weight: 800;
//     color:black;
// }
// .mat-paginator {
//     font-size: 16px;
// }
// .mat-paginator-page-size .mat-select-trigger {
//     font-size: 16px;
// }
// td.mat-cell:last-of-type {
//     text-align: center !important;
// }




// .mat-focused .mat-form-field-label {
//     color:black !important;
//    }
//  .mat-form-field-label {
//     color: black !important;
//    }
  
//  .mat-form-field-underline{
//     background-color:black !important;
//   }
//    .mat-form-field.mat-focused .mat-form-field-ripple {
//     background-color:black !important;
//   }
  
//   .mat-form-field-ripple {
//    background-color: black !important;;
//   }
  
//   .mat-paginator-page-size-label {
//     margin: 0 4px;
//     font-weight: 700;
//     color: black;
//   }
//   .mat-paginator-range-label {
//     margin: 0 32px 0 24px;
//     color: black;
//     font-weight: 800;
//   }
//   /* .mat-icon-button {
//   color: red !important;
//   }
//   .mat-select-value {
//   color: red !important;
//   }
//   .mat-paginator-page-size .mat-select-trigger {
//   color: red;
//   } */
  
//   .mat-select-value {
//   color: black;
//   }
  
//   .mat-icon-button {
//   color: black;
//   background: 0 0;
//   }
//   .mat-select-arrow {
//     color: black;
//   }
//   .mat-form-field-infix {
//     padding: .5em 0;
//     border-bottom: 1px solid black;
//   }
//   .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
//     background: rgba(0,0,0,.12);
//   }
  
// .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: black;
//   }
//   .mat-select-panel {
//     background: white;
//   }
// .mat-option {
//     color: black;
//   }
//   /* .form-control {
//     padding: .375rem .75rem !important;
//   }
//   .mat-radio-button ~ .mat-radio-button {
//     margin-left: 16px;
//     border-color:#262a2d;
//   } */
  
//    .mat-radio-button.mat-accent .mat-radio-inner-circle {
//     background-color: black !important;  
//   }
  
//   .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//    border-color:black !important; 
  
//   }
  
// .mat-radio-outer-circle {
//     background-color: #cccccc !important;
//   }

//   .mat-icon {
//     color: black;
//   }
// th.mat-header-cell:last-of-type {
//     padding: 0px;
//     text-align: center;
//   }
//   td.mat-cell:last-of-type {
//     padding: 0px;
//     text-align: center;
//   }
//   .mat-elevation-z8
// {
//   box-shadow:none;
// }



// @import "../node_modules/@angular/material/_theming.scss";

// @include mat-core();

// // .alternative{
//     $my-primary: mat-pallete($mat-amber, 800);

//     $my-accent: mat-pallete($mat-light-green, 900);
    
//     $my-theme: mat-light-theme($my-primary, $my-accent);
    
//     @include angular-material-theme($my-theme);
// // }



@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-theme-primary: mat-palette($mat-grey , 800);
$my-theme-accent:  mat-palette($mat-indigo, 900);

// The warn palette is optional (defaults to red).
$my-theme-warn:    mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
// $my-theme: mat-light-theme((
//   color: (
//     primary: $candy-app-primary,
//     accent: $candy-app-accent,
//     warn: $candy-app-warn,  
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-theme);





.mat-form-field-appearance-outline .mat-form-field-infix {
    padding:0.7em 0em !important;
    color: grey !important;
    border-radius:0px !important;
}
.mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
}

.mat-raised-button.mat-primary{
    background-color: #242a36;
    border-radius: 0px !important;
    padding: 0.3em 0em;
}
  