<div class="maincontent">
  <div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="form">
            <div class="row align-items-center">
              <div class="col-md-12 col-xs-12 align-self-center">
                <div class="float-left">
                  <h5><b>SGX Nifty Live</b></h5>
                </div>
                <div class="float-right">
                  <button type="submit" class="btn-primary btn-sm" (click)="alertPage($event)"> Set Alert</button>
                  <!-- <span class="icon-share"><i class="flaticon-share"></i></span> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 mt-3 relative">
                <span><strong class="sgx_count">{{currentData.todayClose | number}}</strong></span>
                <span [ngClass]="(currentData.todayClose - currentData.prevClose)<0 ? 'count red' : 'count green'">
                  <span>{{(currentData.todayClose - currentData.prevClose)<0 ? '' : '+' }} {{currentData.todayClose-currentData.prevClose}} ({{(currentData.todayClose-currentData.prevClose)/currentData.prevClose * 100 | number:'1.2-4'}})</span>
                  <span [ngClass]="(currentData.todayClose - currentData.prevClose)<0 ? 'fa fa-sort-desc' : 'fa fa-sort-asc'"></span>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="float-left">
                  <p> <span class="pr-2"><i class="flaticon-clock"></i></span> {{currentData.todayTime}} IST - Close</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="float-left">
                  <p class="p-0"><span class="prevtime-range">Prev Close:{{currentData.prevClose | number}}</span><span
                      class="time-range">Open:{{currentData.todayOpen | number}}</span><span class="day-range">Day's range:{{currentData.todayLow | number}}-{{currentData.todayHigh | number}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-content">
        <div class="row">
          <div class="col-lg-12">

            <div class="tabbable">
              <mat-tab-group mat-align-tabs="center"   (selectedTabChange)="maintabSelected($event)">
                <mat-tab style="border-left:3px solid red !important;" label="Intra day">
                  <div class="row mt-3 mb-3">
                    <div class="col-md-12 col-xs-12">
                      <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="demo1TabIndex" (selectedTabChange)="tabSelected($event)">
                        <mat-tab label="1 Min" >
                        </mat-tab>
                        <mat-tab label="5 Mins">
                        </mat-tab>
                        <mat-tab label="15 Mins">
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                  </div>
                  <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                      [title]="chartOptions.title" [tooltip]="chartOptions.tooltip" [stroke]="chartOptions.stroke">
                    </apx-chart>
                  </div>
                </mat-tab>
                <mat-tab label="Historical">
                  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                      [title]="chartOptions.title" [tooltip]="chartOptions.tooltip" [stroke]="chartOptions.stroke">
                    </apx-chart>
                </mat-tab>
              </mat-tab-group>
              <!-- <div class="srlevel">
                <span>SR Levels</span>
                <mat-slide-toggle></mat-slide-toggle>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <div class="signal-container">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-12">
                        <h5><b>Resistance levels</b></h5>
                      </div>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Level 1 (R1)</th>
                          <th>Level 2 (R2) </th>
                          <th>Level 3 (R3)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-danger pl-3">
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)-(0.382*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)-(0.618*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)-(1*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-12">
                        <h5><b>Support levels</b></h5>
                      </div>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Level 1 (R1)</th>
                          <th>Level 2 (R2) </th>
                          <th>Level 3 (R3)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-success">
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)+(0.382*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)+(0.618*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>
                          <td>{{(((currentData.prevHigh + currentData.prevLow + currentData.prevClose)/3)+(1*(currentData.prevHigh-currentData.prevLow))) | number:'1.2-2'}}</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-12">
                        <h5><b>Buy signal/Sell signal </b></h5>
                      </div>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>5 min signal</th>
                          <th>1 hour signal </th>
                          <th>1 day signal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-success">
                          <td>BUY</td>
                          <td class="text-danger">SELL</td>
                          <td>STRONG BUY</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <h5 class="m-3"><b> More about SGX Nifty </b></h5>
            <div>
              <p> What is SGX Nifty?</p>
              <p>This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it
                will remain fixed to the top of your browser's viewportThis example is a quick exercise to illustrate
                how fixed to top navbar works. As you scroll, it
                will remain fixed to the top of your browser's viewport.This example is a quick exercise to illustrate
                how fixed to top navbar works. As you scroll, it
                will remain fixed to the top of your browser's viewport.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>