.btn-icon{
    display:flex;
}
.icon-share{
    margin:10px;
    font-size:25px;
}
.red-font{
    color:red;
    font-size:20px;
    margin:0px 20px;
}
.prevtime-range{
    padding-right: 10px;
    border-right:1px solid black;
}
.time-range{
    padding: 0px 10px;
    border-right:1px solid black;
}
.day-range{
    padding: 0px 10px;
}

.flaticon-share{
    font-size:25px !important;
}


.nav >.nav-tabs > .btn-primary{
    background-color: white;
    color: green;
    background-image: none !important;
}

// .gray{
//     color:gray;
// }
// thead th tr{
//     text-align:center;
// }

// .table thead th {
//     color:gray;
//     border:none;
//     border:none !important;
// }
// .table th td {
//     border-top:none !important;
// }

.table td, .table th {
    border-top: none;
    text-align:center;
}
.table thead th {
    color:gray;
    border-bottom: 0px solid #dee2e6;
}
.table-responsive {
    overflow: hidden;
}


.styled-select {
    // border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    
    overflow: hidden;
    position: relative;
  }
  .styled-select, .styled-select select { width: 180px;
}
  select:focus { outline: none; }
  .styled-select select {
    height: 35px;
    padding: 0px 20px;
    background: transparent;
    border: none;
    color:red !important;
    -webkit-appearance: none;  
    font-size:18px;
    font-weight: bold !important;

  }
  
  @-moz-document url-prefix(){
    .styled-select select { width: 110%; }
  }
  
   select::-ms-expand { display: none; } /* hide default down arrow in IE10*/
  
  /* hack to fall back in opera */
  _:-o-prefocus, .selector {
    .styled-select { background: none; }
    }





    .Row {
        display: table;
        table-layout: fixed; /*Optional*/
    }
    .Column {
        display: table-cell;
    }

    .sgx_count{
        font-size: 25px !important;
        color: black;
    }

    .relative{
        position: relative;
    }
.fa-sort-desc, .fa-sort-asc{
    
    position: absolute;
    padding: 7px;
    font-size: 25px;
}

.fa-sort-asc{
    top: 9px;
}

.fa-sort-desc{
    top: -2px;
}

    .count{
        font-size: 19px;
        font-weight: bolder;
       
        margin-left: 10px;
    }

    .red{
        color: #da2d2d;
    }

    .green{
        color:green;
    }

    .tabbable{
        position: relative;
    }
    .srlevel{
        position: absolute;
        top: 80px;
        right: 0px;
    }

    .srlevel span{
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        top: 2px;
        left: -68px;
    
    }
    

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: white !important;
    }

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgb(2 2 2) !important;
    }

    ::ng-deep .mat-slide-toggle-bar {
        width: 32px  !important;
        height: 17px  !important;
    }

    ::ng-deep .mat-slide-toggle-thumb {
        height: 11px  !important;
        width: 11px  !important;
    }

    ::ng-deep .mat-slide-toggle-thumb-container {
        width: 8px  !important;
        height: 8px  !important;
        top: 3px  !important;
        left: 3px  !important;
    }

    ::ng-deep .mat-slide-toggle-bar {
            background-color: rgb(0 0 0);
    }
    