<div class="maincontent">
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">


                    <div class="login-container">
                        <mat-card>
                            <button class="btn-block btn-outline" mat-stroked-button color="primary" type="submit"> <img
                                    id="google" src="assets/imgs/google.png" class="mr-2"> Continue Via Google</button>
                            <mat-card-content>
                                <form [formGroup]="loginForm">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h6 class="mt-3"> (OR) </h6>
                                            <h6 class="m-3"> Register with email ID </h6>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline">

                                        <mat-label>Enter Name</mat-label>
                                        <input matInput placeholder="Enter Name" formControlName="name" appAutofocus>
                                        <mat-error *ngIf="loginForm.get('name').getError('required')">Name is required
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter Email</mat-label>
                                        <input matInput placeholder="Enter Email" formControlName="email" appAutofocus>
                                        <mat-error *ngIf="loginForm.get('email').getError('required')">Email is required
                                        </mat-error>
                                        <mat-error *ngIf="loginForm.get('email').getError('email')">Enter a valid email
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter Password</mat-label>
                                        <input matInput placeholder="Enter Password" type="password"
                                            formControlName="password">
                                        <mat-error *ngIf="loginForm.get('password').getError('required')">Password is
                                            required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Re-Enter Password</mat-label>
                                        <input matInput placeholder="Re-enter Password" type="password"
                                            formControlName="confirmPassword">
                                        <mat-error *ngIf="loginForm.get('confirmPassword').errors" class="invalid-feedback">
                                            <span *ngIf="loginForm.get('confirmPassword').errors.required">Confirm Password is
                                                required</span>
                                            <span *ngIf="loginForm.get('confirmPassword').errors.mustMatch">Passwords must match
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <button [disabled]="loginForm.invalid" (click)="register()" class="btn-block" mat-raised-button color="primary"
                                        type="submit">Submit</button>
                                </form>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-center">
                                        <p style="color:black;"> Already have an account? <a href=""
                                                [routerLink]="['/login']"> Click here </a>
                                        </p>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>